@model StackExchange.Redis.HashEntry[];

<h1>Active conversation list</h1>

@foreach (var conversation in Model)
{
<div>Name: @conversation.Name</div>
<a  asp-controller="chat" asp-action="consultant" asp-route-clientConnectionId="@conversation.Name.ToString()" >Join</a>
<hr />
}