@using OnlineConsulting.Enums;
@model OnlineConsulting.Models.ViewModels.Chat.ConsultantChatViewModel;

<form method="post" asp-controller="Chat" asp-action="ChangeConversationStatus">
    @{
        var conversationId = Model.ConversationId;
    }
    <input type="hidden" asp-for=@conversationId />
    <input type="hidden" name="conversationStatus" value="@ConversationStatus.DONE" />
    <input type="hidden" name="redirectAction" value="@Model.RedirectAction"/>
    <button class="btn btn-danger">Close conversation</button>
</form>

<a
   asp-controller="Chat" 
   asp-action="@Model.RedirectAction"
   >
    Back to list
</a>

<div id="chat-content" class="chat-content">
    <ul id="chat-messages-list" class="chat-messages-list"></ul>
    <div class="chat-form">
        <textarea maxlength="1000"
                  type="text"
                  id="chat-message-input"
                  class="chat-form__input"></textarea>
        <button id="chat-send-button" class="chat-form__button">►</button>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/consultantChat.css">
}

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script>const conversationId = "@Model.ConversationId"</script>
    <script type="module" src="~/js/consultantChat.js"></script>
}