
@using OnlineConsulting.Models.ViewModels.Pagination;
@model OnlineConsulting.Tools.PaginatedList<OnlineConsulting.Models.Entities.Conversation>;


<div class="p-1 p-xl-5">
    <h1 class="text-warning pb-3 pt-3 pt-xl-0 text-center text-sm-left">Conversations in progress</h1>
    @if (Model.Count > 0)
    {
        @foreach (var conversation in Model)
        {
          <div class="card mb-5 bg-dark shadow-dark rounded">
                <div class="card-header d-flex justify-content-between flex-column-reverse flex-sm-row bg-light">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-comments fa-lg text-dark"></i>
                        <h5 class="card-title m-0 ml-2 d-flex align-items-center text-dark ">@conversation.Host</h5>
                    </div>
                    <form asp-controller="chat" asp-action="consultant" method="post" class="align-self-end">
                        @{
                            var ConversationId = conversation.Id;
                        }
                        <input type="hidden" asp-for=@ConversationId />
                        <input type="hidden" name="redirectAction" value="InProgressConversationList" />
                        <button class="btn btn-warning">Join</button>
                    </form>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table text-light">
                            <tbody>
                                <tr>
                                    <th>Create date</th>
                                    <td data-utc-date="@conversation.CreateDate"></td>
                                </tr>
                                <tr>
                                    <th>Origin</th>
                                    <td>@conversation.Host@conversation.Path</td>
                                </tr>
                                <tr>
                                    <th>Last message</th>
                                    <td>@conversation.LastMessage?.Content</td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                 </div>
              </div>
        }
    }
    else
    {
        <p class="text-light" >No active conversations</p>
    }

    @await Html.PartialAsync(
        "/Views/Shared/Pagination/_Pagination.cshtml",
        new PaginationViewModel
        {
            PageIndex = Model.PageIndex,
            TotalPages = Model.TotalPages,
            HasPreviousPage = Model.HasPreviousPage,
            HasNextPage = Model.HasNextPage,
            SurroundingIndexes = Model.GetSurroundingIndexes(2),
            Action = "NewConversationList"
        })
</div>

@section Scripts {
     <partial name="/Views/Shared/Scripts/_UtcToLocal.cshtml" />
}


