<nav>
    <ul class="pagination">
        <li class="page-item" id="pagination-prev-wrapper">
            <a 
                  class="page-link"
                  id="pagination-prev"
             >
                <span>&laquo;</span>
            </a>
        </li>
        <li id="pagination-numbers-containers" class="d-flex" ></li>
        <li class="page-item" id="pagination-next-wrapper">
            <a 
                  class="page-link"
                  id="pagination-next"
             >
                <span>&raquo;</span>
            </a>
        </li>
    </ul>
</nav>