<div class="container pt-5" style="max-width:700px;">
    <div class="bg-dark shadow-dark rounded p-4">
        <h2 class="text-warning">Subscription expired</h2>
        <p class="text-light my-4">Inform your boss that current subscription plan has expired.</p>
    </div>
</div>