<div class="container pt-5" style="max-width:700px;">
    <div class="bg-dark shadow-dark rounded p-4">
        <h2 class="text-warning">Subscription expired</h2>
        <p class="text-light my-4">To use this functionality you must be on paid subscription plan.</p>
        <a  
           asp-controller="Payment"
           asp-action="PayForSubscription" 
           class="btn btn-warning">
            Buy subscription
        </a>
    </div>
</div>