@model OnlineConsulting.Models.ViewModels.Consultant.AddConsultantViewModel;

@if (@Model.GeneratedPassword != null )
{
<div class="alert alert-success" role="alert">
    <p>Consultant added successfully.</p>
    <hr>
    <table>
        <tr>
            <th>Login</th>
            <td class="pl-3" >@Model.Login</td>
        </tr>
        <tr>
            <th>Password</th>
            <td  class="pl-3" >@Model.GeneratedPassword</td>
        </tr>
    </table>
</div>
}

<div class="container pt-5">
    <form method="post"
          asp-controller="Consultant"
          asp-action="AddConsultant"
          class="bg-dark shadow-dark rounded p-4">
        <div class="d-flex align-items-center mb-4 flex-column flex-md-row">
            <i class="fas fa-user-plus fa-2x text-warning mr-3 mb-3 mb-md-0"></i>
            <h3 class="text-light m-0">Create a consultant account.</h3>
        </div>
        <div asp-validation-for="userManager" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="FirstName" class="text-light"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Surname" class="text-light"></label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="text-light"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-warning">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
