@model string;

@if (Model != null)
{<a href='javascript:history.go(-1)'>Back to list</a>}

<form id="form">
    <input name="StartDate" id="StartDate" type="date" />
    <input name="EndDate" id="EndDate" type="date" />
    <span id="DateErrorTag"></span>
    <input name="Domain" type="text" />
    @if (Model != null)
    {<input type="text" name="ConsultantId" value=@Model hidden />}
    <button>Show</button>
</form>

<div>
    <canvas id="chart"></canvas>
</div>

<div>Average time consultant joining: <span id="AverageTimeConsultantJoiningCounter"></span></div>
<div>Average conversation duration: <span id="AverageConversationDuration"></span></div>
<div>Conversations in progress: <span id="InProgressConversationsNumber"></span></div>
<div>New Conversations: <span id="NewConversationsNumber"></span></div>

@section Scripts{
    <script src="~/lib/Chart.js/chart.min.js"></script>
    <partial name="/Views/Shared/Scripts/_Dayjs.cshtml" />
    <script type="module" src="~/js/statistics.js"></script>
}
