<div class="w-100  d-flex justify-content-center " >
    <div 
        class="bg-dark shadow-dark rounded p-4 mt-5 d-flex align-items-center flex-column flex-sm-row" 
     >
        <i class="fas fa-user-lock fa-5x text-danger mr-sm-5"></i>
        <div>
            <h1 class="text-danger">Access denied</h1>
            <p class="text-light" >You do not have access to this resource.</p>
        </div>
    </div>
</div>