<div class="w-100  d-flex justify-content-center " >
    <div 
        class="bg-dark shadow-dark rounded p-4 mt-5 d-flex align-items-center flex-column flex-sm-row" 
     >
        <i class="fas fa-server fa-5x text-danger mr-sm-5"></i>
        <div>
            <h1 class="text-danger">Internal Server Error</h1>
            <p class="text-light" >Sorry...</p>
            <p class="text-light" >It's not you. It's us.</p> 
            <p class="text-light" >
                We're experiencing an internal server problem. Please try again later.
            </p>
        </div>
    </div>
</div>