@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="container pt-5" style="max-width:700px;">
    <div class="bg-dark shadow-dark rounded p-4">
        <h1 class="text-warning" >@ViewData["Title"]</h1>
        <p  class="text-light" >@Model.StatusMessage</p>
    </div>
</div>