@page
@model RegisterModel

<div class="container pt-5">
    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="bg-dark shadow-dark rounded p-4">
        <div class="d-flex align-items-center ">
            <i class="fas fa-address-card fa-3x text-warning mr-3"></i>
            <h1 class="text-light">Register</h1>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Input.FirstName" class="text-light"></label>
            <input asp-for="Input.FirstName" class="form-control" />
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Surname" class="text-light"></label>
            <input asp-for="Input.Surname" class="form-control" />
            <span asp-validation-for="Input.Surname" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Email" class="text-light"></label>
            <input asp-for="Input.Email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password" class="text-light"></label>
            <input asp-for="Input.Password" class="form-control" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword" class="text-light"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-warning">Register</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
