*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: calc(100% - 70px);
  font-family: "Quicksand", sans-serif;
}

body,
.chat-content {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

.chat-content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid rgb(240, 242, 247);
  opacity: 0;
  transform: translateY(10px);
}

.chat-content--open {
  animation: showChat 1s ease forwards;
}

.chat-content--open > .chat-form {
  display: flex;
}

@keyframes showChat {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.chat-icon {
  width: 60px;
  height: 60px;
  background-image: url("/img/chatIcon.svg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  border: 2px solid #17a2b8;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
  cursor: pointer;
  margin: 5px 0 5px calc(100% - 60px);
  z-index: 999999999;
}

.chat-messages-list {
  overflow-y: auto;
  list-style: none;
  padding: 0 10px;
  margin-top: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.chat-messages-list__message {
  background: rgb(245, 248, 250);
  color: rgb(65, 65, 65);
  padding: 11px 14px;
  margin-top: 10px;
  width: 80%;
  border-radius: 10px;
}

.chat-messages-list__message--client {
  align-self: flex-end;
  background-color: #17a2b861;
}

.chat-messages-list__date {
  font-size: 10px;
  text-align: right;
}

.chat-form {
  display: none;
  padding: 10px;
}

.chat-form__input {
  overflow-y: hidden;
  resize: none;
  width: calc(100% - 30px);
  height: 40px;
  padding: 10px;
  color: rgb(65, 65, 65);
  border-color: rgb(157, 169, 176);
  background: white;
  border-radius: 10px;
  font-size: 15px;
  line-height: 1.3;
}

.chat-form__button {
  width: 20px;
  margin-left: 10px;
  padding: 0;
  background: none;
  border: none;
  font-size: 20px;
  color: #17a2b8;
  cursor: pointer;
}
