<li class="nav-item">
    <a class="nav-link nav-collapse-btn text-light"
       data-toggle="collapse"
       data-target="#Payments"
       aria-controls="Payments"
       aria-expanded="false">
        <i class="fas fa-money-bill fa-lg text-warning"></i>
        <span class="nav-collapse-btn-text ">Payments</span>
    </a>
    <ul class="nav-second-level collapse" id="Payments" data-parent="#navAccordion">
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-controller="Payment"
               asp-action="GetPaymentList">
                Payment list
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-collapse-btn text-light"
       data-toggle="collapse"
       data-target="#Subscriptions"
       aria-controls="Subscriptions"
       aria-expanded="false">
        <i class="fas fa-clipboard-list fa-lg text-warning"></i>
        <span class="nav-collapse-btn-text ">Subscriptions</span>
    </a>
    <ul class="nav-second-level collapse" id="Subscriptions" data-parent="#navAccordion">
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-controller="Subscription"
               asp-action="ChangeSubscriptionPrice">
                Subscription types
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-collapse-btn text-light"
       data-toggle="collapse"
       data-target="#Account"
       aria-controls="Account"
       aria-expanded="false">
        <i class="fas fa-user-cog fa-lg text-warning"></i>
        <span class="nav-collapse-btn-text ">Account</span>
    </a>
    <ul class="nav-second-level collapse" id="Account" data-parent="#navAccordion">
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-area="Identity"
               asp-page="/Account/Manage/ChangePassword">
                Change password
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-collapse-btn text-light"
       data-toggle="collapse"
       data-target="#Users"
       aria-controls="Users"
       aria-expanded="false">
        <i class="fas fa-users fa-lg text-warning"></i>
        <span class="nav-collapse-btn-text ">Users</span>
    </a>
    <ul class="nav-second-level collapse" id="Users" data-parent="#navAccordion">
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-controller="User"
               asp-action="EmployerList">
                Employer list
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-collapse-btn text-light"
       data-toggle="collapse"
       data-target="#Conversations"
       aria-controls="Conversations"
       aria-expanded="false">
        <i class="fas fa-comments fa-lg text-warning"></i>
        <span class="nav-collapse-btn-text ">Conversations</span>
    </a>
    <ul class="nav-second-level collapse" id="Conversations" data-parent="#navAccordion">
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-controller="Chat"
               asp-action="ConversationList">
                Conversation List
            </a>
        </li>
    </ul>
</li>