<li class="nav-item">
    <a class="nav-link nav-collapse-btn text-light"
       data-toggle="collapse"
       data-target="#Conversations"
       aria-controls="Conversations"
       aria-expanded="false">
        <i class="fas fa-comments fa-lg text-warning"></i>
        <span class="nav-collapse-btn-text ">Conversations</span>
    </a>
    <ul class="nav-second-level collapse" id="Conversations" data-parent="#navAccordion">
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-controller="Statistic"
               asp-action="GetStatistics">
                Statistics
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-controller="Chat"
               asp-action="ConversationList">
                Conversation List
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-collapse-btn text-light"
       data-toggle="collapse"
       data-target="#Consultants"
       aria-controls="Consultants"
       aria-expanded="false">
        <i class="fas fa-user-friends fa-lg text-warning"></i>
        <span class="nav-collapse-btn-text ">Consultants</span>
    </a>
    <ul class="nav-second-level collapse" id="Consultants" data-parent="#navAccordion">
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-controller="Consultant"
               asp-action="AddConsultant">
                Add consultant
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-controller="Consultant"
               asp-action="GetAllConsultants">
                Consultant list
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-collapse-btn text-light"
       data-toggle="collapse"
       data-target="#Settings"
       aria-controls="Settings"
       aria-expanded="false">
        <i class="fas fa-cog fa-lg text-warning"></i>
        <span class="nav-collapse-btn-text ">Settings</span>
    </a>
    <ul class="nav-second-level collapse" id="Settings" data-parent="#navAccordion">
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-controller="Chat"
               asp-action="GetSnippet">
                Widget
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-collapse-btn text-light"
       data-toggle="collapse"
       data-target="#Payments"
       aria-controls="Payments"
       aria-expanded="false">
        <i class="fas fa-money-bill fa-lg text-warning"></i>
        <span class="nav-collapse-btn-text ">Payments</span>
    </a>
    <ul class="nav-second-level collapse" id="Payments" data-parent="#navAccordion">
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-controller="Payment"
               asp-action="PayForSubscription">
                Pay for subscription
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a class="nav-link nav-collapse-btn text-light"
       data-toggle="collapse"
       data-target="#Account"
       aria-controls="Account"
       aria-expanded="false">
        <i class="fas fa-user-cog fa-lg text-warning"></i>
        <span class="nav-collapse-btn-text ">Account</span>
    </a>
    <ul class="nav-second-level collapse" id="Account" data-parent="#navAccordion">
        <li class="nav-item">
            <a class="nav-link text-light"
               asp-area="Identity" 
               asp-page="/Account/Manage/ChangePassword"
             >
                Change password
            </a>
        </li>
    </ul>
</li>