<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Conversations
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" asp-controller="Chat" asp-action="NewConversationList">New conversations</a>
        <a class="dropdown-item" asp-controller="Chat" asp-action="InProgressConversationList">In progress conversations</a>
    </div>
</li>